.masking-layer {
  pointer-events: auto;
  position: fixed;    /* Fixes the layer relative to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9;      /* High z-index to ensure it's above other elements */
}

button {
  -webkit-tap-highlight-color: transparent;
}

.text-primary-navy-shadow {
  text-shadow: 0px 0px 0.6px #002855;
}

/* .Toastify__toast-body {
  color: #002855;
} */
/* 
.Toastify__progress-bar {
  background: #002855;
}

.Toastify__progress-bar--dark {
  background: #002855;
}

.Toastify__toast--success .Toastify__toast-icon {
  fill: #002855;
}

.Toastify__toast--info .Toastify__toast-icon {
  fill: #002855;
}

.Toastify__toast--warning .Toastify__toast-icon {
  fill: #002855;
}

.Toastify__toast--error .Toastify__toast-icon {
  fill: #002855;
} */
