button {
  -webkit-tap-highlight-color: transparent;
}

.text-primary-navy-shadow {
  text-shadow: 0px 0px 0.55px #002855;
}

/* .Toastify__toast-body {
  color: #002855;
} */
/* 
.Toastify__progress-bar {
  background: #002855;
}

.Toastify__progress-bar--dark {
  background: #002855;
}

.Toastify__toast--success .Toastify__toast-icon {
  fill: #002855;
}

.Toastify__toast--info .Toastify__toast-icon {
  fill: #002855;
}

.Toastify__toast--warning .Toastify__toast-icon {
  fill: #002855;
}

.Toastify__toast--error .Toastify__toast-icon {
  fill: #002855;
} */
